.list-of-controls {
  padding: 5px;
  margin: 5px;
}

.max-height-overflow {
  border: 1px solid gray;
  border-radius: 4px;

  max-height: 210px;
  overflow-y: auto;
}

.height-210 {
  max-height: 210px;
}

.height-315 {
  max-height: 315px;
}

.height-420 {
  max-height: 420px;
}


.flex-100  {
  flex: 1 1 100%;
}

.width-100 {
  width: 100%;
}
