.dynamic-form {
  min-height: 100px;
  padding: 10px;
  margin-top: 10px;
  max-width: 100%;
  //min-width: 500px;
}

.dynamic-form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex-100  {
  flex: 1 1 100%;
}

.width-100 {
  width: 100%;
}

.label {
  // angular-material used font
  font-family: Roboto ,"Helvetica Neue",sans-serif;
  font-size: 12px;
  margin-bottom: 8px;
  color: #757575;
}
