.material-font {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-color-disabled {
  color: rgba(0, 0, 0, .38) !important;
}

.label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #757575;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-top-5px {
  margin-top: 5px;
}
