<div fxFlex="row" fxLayout="center center" style="width: 100%">
  <button mat-raised-button  [routerLink]="['/form1']" [queryParams]="{id: '1'}">Form 1</button>
  <button mat-raised-button  [routerLink]="['/form2']" [queryParams]="{id: '2'}">Form 2</button>
  <button mat-raised-button  [routerLink]="['/form3']" [queryParams]="{id: '3'}">Form 3</button>
  <button mat-raised-button  [routerLink]="['/form4']" [queryParams]="{id: '4'}">Form 4</button>
  <button mat-raised-button  [routerLink]="['/form5']" [queryParams]="{id: '5'}">Form 5</button>
  <button mat-raised-button  [routerLink]="['/form6']" [queryParams]="{id: '6'}">Form 6</button>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <router-outlet fxFlex="1 1 90" ></router-outlet>
</div>
